#-------------------------------------------------------------------------------
# 3DVAR configuration
#-------------------------------------------------------------------------------
DA_MODE=3dvar
DA_ENS_SIZE=1
DA_NODA_FCST_ENABLED=T
DA_REGIONAL_ENABLED=T
DA_PERTURBATION_MODEL="letkf"
DA_SEAICE_ENABLED=F
DA_LETKF_WINDOW=4
DA_LETKF_OBS_LIST="adt sst insitu sss"
DA_VARIABLES="socn, tocn, ssh, hocn"
DA_CHKPT_WITH_MODEL=F
DA_DIAGB_ENABLED=T #F
DA_DIAGB_DIRAC_STEP=150
DA_ENSBDIAG_ENABLED=F
SAVE_DIAG_ENABLED=T #F
DA_OCN_IAU=F

#-------------------------------------------------------------------------------
# Observations
#-------------------------------------------------------------------------------
obs_src_dir="/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/obs"
obs_vars="sst adt sss salt temp"
adt_platforms="ssh"
sss_platforms="salinity"
sst_platforms="jpss metop goes amsr npp"
salt_platforms="pfl"
temp_platforms="pfl"

