#-------------------------------------------------------------------------------
# Observations
#-------------------------------------------------------------------------------
obs_src_dir="/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR_obs"
obs_vars="sst adt sss salt temp"
adt_platforms="ssh"
sss_platforms="salinity"
sst_platforms="jpss metop goes amsr npp"
salt_platforms="pfl"
temp_platforms="pfl"

