#-------------------------------------------------------------------------------
# soca-science
#-------------------------------------------------------------------------------
SCRATCH_DIR=/work2/noaa/hwrf/scrub/yongzuo/MOM6_3DVAR/SCRATCH
SOCA_BIN_DIR=/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/exec
SOCA_DEFAULT_CFGS_DIR=/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/fix/SOCA_DEFAULT_CFGS_DIR

#-------------------------------------------------------------------------------
# model configuration
#-------------------------------------------------------------------------------
MODEL_CFG_DIR=/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/fix/MODEL_CFG_DIR
MODEL_DATA_DIR=/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/fix/MODEL_DATA_DIR

#-------------------------------------------------------------------------------
# Experiment Cycle
#-------------------------------------------------------------------------------
EXP_START_DATE=20220924Z12       # exp start date in YYYY0922Z18 format
FCST_LEN=6
FCST_RESTART=1

#-------------------------------------------------------------------------------
# Workload manager
#-------------------------------------------------------------------------------
JOB_NAME=hafs3dvar
JOB_ACCT=marine-cpu
JOB_TIME=00:30:00
#JOB_PARTITION=orion
JOB_QOS=debug #batch
JOB_NPES=480 #480

#-------------------------------------------------------------------------------
# Data Assimilation Configuration
#-------------------------------------------------------------------------------
DA_MODE=3dvar
DA_ENS_SIZE=1
DA_NODA_FCST_ENABLED=T
DA_REGIONAL_ENABLED=T
DA_PERTURBATION_MODEL="letkf"
DA_SEAICE_ENABLED=F
DA_LETKF_WINDOW=4
DA_LETKF_OBS_LIST="adt sst insitu sss"
DA_VARIABLES="socn, tocn, ssh, hocn"
DA_CHKPT_WITH_MODEL=F
DA_DIAGB_ENABLED=T #F
DA_DIAGB_DIRAC_STEP=150
DA_ENSBDIAG_ENABLED=F
SAVE_DIAG_ENABLED=T #F
DA_OCN_IAU=F

#-------------------------------------------------------------------------------
# Observations
#-------------------------------------------------------------------------------
obs_src_dir="/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/obs"
obs_vars="sst adt sss salt temp"
adt_platforms="ssh"
sss_platforms="salinity"
sst_platforms="jpss metop goes amsr npp"
salt_platforms="pfl"
temp_platforms="pfl"

