SCRATCH_DIR=/work2/noaa/hwrf/scrub/yongzuo/MOM6_3DVAR/SCRATCH
SOCA_BIN_DIR=/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/exec
SOCA_DEFAULT_CFGS_DIR=/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/fix/SOCA_DEFAULT_CFGS_DIR

#-------------------------------------------------------------------------------
# Experiment Cycle
#-------------------------------------------------------------------------------
EXP_START_DATE=20220924Z12       # exp start date in YYYY0922Z18 format
FCST_LEN=6
FCST_RESTART=1
#-------------------------------------------------------------------------------
# Workload manager
#-------------------------------------------------------------------------------
JOB_NAME=3dvarhfsa
JOB_ACCT=marine-cpu
#JOB_TIME=03:00:00
#JOB_PARTITION=orion
JOB_TIME=00:30:00
JOB_QOS=debug #batch
JOB_NPES=480 #480
SOCA_NPES=480 #480

#-------------------------------------------------------------------------------
# Data Assimilation Configuration
#-------------------------------------------------------------------------------
DA_MODE=3dvar
DA_ENS_SIZE=1
DA_NODA_FCST_ENABLED=T
DA_REGIONAL_ENABLED=T
DA_PERTURBATION_MODEL="letkf"
DA_SEAICE_ENABLED=F
DA_LETKF_WINDOW=4
DA_LETKF_OBS_LIST="adt sst insitu sss"
DA_VARIABLES="socn, tocn, ssh, hocn"
DA_CHKPT_WITH_MODEL=F
DA_DIAGB_ENABLED=T #F
DA_DIAGB_DIRAC_STEP=150
DA_ENSBDIAG_ENABLED=F
SAVE_DIAG_ENABLED=T #F
DA_OCN_IAU=F

#-------------------------------------------------------------------------------
# model configuration
#-------------------------------------------------------------------------------
MODEL_CFG_DIR=/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/fix/MODEL_CFG_DIR
MODEL_DATA_DIR=/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/fix/MODEL_DATA_DIR

#-------------------------------------------------------------------------------
# Observations
#-------------------------------------------------------------------------------

OBS_LIST="adt sss sst salt temp"

OBS_ENABLED=T
OBS_LIST_OCN="adt sss sst salt temp"
OBS_TOLERATE_FAIL=T
OBS_GEN_ENABLED=F

OBS_ADT_LIST="ssh"
OBS_SSS_LIST="salinity"
OBS_SST_LIST="jpss metop goes amsr npp"
OBS_SALT_LIST="pfl"
OBS_TEMP_LIST="pfl"

OBS_ADT_SSH_SRC="/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/obs"
OBS_SSS_SALINITY_SRC="/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/obs"
OBS_SST_AMSR_SRC="/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/obs"
OBS_SST_GOES_SRC="/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/obs"
OBS_SST_METOP_SRC="/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/obs"
OBS_SST_NPP_SRC="/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/obs"
OBS_SST_JPSS_SRC="/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/obs"
OBS_SALT_PFL_SRC="/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/obs"
OBS_TEMP_PFL_SRC="/work2/noaa/hwrf/save/yongzuo/MOM6_3DVAR/obs"

